.section{
	padding-top:0px;
}
ul.pagination{
	margin-top:0px;
	margin-bottom:0px;
	border-radius:0px !important;
}
ul.pagination li{
	display:inline-block;
}
.pagination li a,.pagination li span{
    background: #08aeac none repeat scroll 0 0;
    color: #ffffff;
	border:none;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px !important;
    transition: all 0.2s ease 0s;
}
.pagination li a:hover,.pagination li span:hover {
    background: #021533 none repeat scroll 0 0;
    text-decoration: none;
	color:#ffffff;
}
.pagination li a:first-child,.pagination li span:first-child{
	border-radius:0px !important;
	border:none !important;
}
.archive .section-title,
.error404 .section-title,
.page-template-default .section-title,
.search-results .section-title,
.single .section-title{
	margin-top:25px;
}
.media .media-body > p {
    display: inline-block;
}
.blog-comments .comments_wrapper > .comments {
    border-bottom: 1px dotted #000000;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.blog-comments .well{
	margin-top:10px;
}
.blog-comments .comments_wrapper .comments .comments{
	margin-left:70px;
	margin-top:15px;
}
/*-----------------------theme unit test--------------------------*/
.sticky{
	background-color:#cccccc;
}
.blog-single-content table thead tr th,.comments table thead tr th,.page-content table thead tr th{
	border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.blog-single-content table tbody tr th,.comments table tbody tr th,.page-content table tbody tr th{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.blog-single-content table tbody tr td,.comments table tbody tr td,.page-content table tbody tr td{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.paginate-links{
	margin-bottom:10px;
}
.paginate-links > span{
 	background: #08aeac none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.2s ease 0s;
}
.paginate-links a{
 	background: #08aeac none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.2s ease 0s;
}
.paginate-links a:hover,.paginate-links > span:hover{
	background: #021533 none repeat scroll 0 0;
    text-decoration: none;
    color: #ffffff;
}
.blog-single-content p img,.blog-single-content figure img,
.page-content p img,.page-content figure img{
	max-width:100%;
	height:auto;
}
.blog-single-content figure img,.page-content figure img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:96%;
	display:block;
}
/*--------------------------theme check----------------------------------*/

	#wp-calendar {

		width: 100%;

	}

	#wp-calendar caption {

		text-align: right; 

		color: #333; 

		font-size: 12px; 

		margin-top: 10px;

		margin-bottom: 15px;

	}

	#wp-calendar thead { 

		font-size: 10px;

	}

	#wp-calendar thead th { 

		padding-bottom: 10px;

	}

	#wp-calendar tbody { 

		color: #aaa; 

	}

	#wp-calendar tbody td { 

		background: #f5f5f5; 

		border: 1px solid #fff; 

		text-align: center; 

		padding:8px;

	}

	#wp-calendar tbody td:hover { 

		background: #fff; 

	}

	#wp-calendar tbody .pad { 

		background: none; 

	}

	#wp-calendar tfoot #next { 

		font-size: 10px; 

		text-transform: uppercase; 

		text-align: right;

	}

	#wp-calendar tfoot #prev { 

		font-size: 10px; 

		text-transform: uppercase; 

		padding-top: 10px; 

	}

	

	.sticky .post {background: #efefef; border: 3px solid #fff; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {

	border: 1px solid #ddd;

	text-align: center;

	background-color: #f3f3f3;

	padding-top: 4px;

	margin: 10px;

	-moz-border-radius: 3px;

	-khtml-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	}
	.wp-caption p.wp-caption-text {

	font-size: 11px;

	line-height: 17px;

	padding: 0 4px 5px;

	margin: 0;

	}
	.gallery-caption {}
	.bypostauthor{}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.screen-reader-text{
	}